
@{
    ViewBag.Title = "ShowData";
}

<h2>ShowData</h2>

<h1>@ViewBag.TimeofCache</h1>
<form method="post">
    <input type="text" name="id"/>
    <input type="submit" id="btn1" values="submit"/>
</form>